
/**************************         
IMPORT
***************************/     
@import "_imports.scss"; // media queries - if needed 


/**************************
TEMPLATES begin 
***************************/   
/*-----------------------------------------------------------------------------------

        ! ! !    R E A D   T H I S    ! ! !  
        -----------------
         
        It's recomended to use/create a custom css file (or place them at the end of this file) to do you customizations in order to easily update the main css files without loosing your changes
        
        
        > > Please take also a look at the documentation file.       
    

/*-----------------------------------------------------------------------------------
    1.  GENERAL ELEMENTS
    2.  HOMEPAGE
    2.  CONTACT PAGE
     
-----------------------------------------------------------------------------------*/
/*---------------------------------------------- 
1. GENERAL ELEMENTS
------------------------------------------------*/

html{
    // @include scrollbars(0.5em, $black);   
} 

/*---------------------------------------------- 
2. HOME PAGE
------------------------------------------------*/

#enterence{
	
	background: url('../../assets/svg/enterenceBg.svg');
	background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
    
	.container{
		text-align: center;
		align-content: center;
		grid-gap:$gutterw;
		padding:($gutterh * 2) 0;
		h2{
			margin-bottom:32px;
		}
		h6{
			margin-bottom:24px;
			font-weight: $regular;
		}

		.text{
		    align-content: center;
		    display: grid;
		    a{
		    	justify-content: center;
			    display: grid;
			    button{
			    	min-width: 256px;
			    	display: grid;
			    	
			    }
			}
		}
		.image{
			justify-self: center;
			display: none;
			img{
			    width: 30vw;
			}
		}
		@include MQ($M){
			grid-template-columns: 3fr 2fr;
			text-align: left;
			.text{
				a{
					justify-content: start;
				}
			}
			.image{
				display: grid;
			}
		}
	}
	@include MQ($M){
		margin-top: 0px;
	}
}

#profs{
	display: grid;
	justify-items: center;
	margin-top:(-$gutterh * 1.5);
	background: url('../../assets/svg/areYouBg.svg') no-repeat top center;
	background-size:cover;
	padding-top:$gutterh * 3;
	.container{
		justify-items: center;
	}
	#threeProf{
		display: grid;
		grid-gap: $gutterh;
		margin-bottom: $gutterh;
		.boxButton{
			display: grid;
			align-content:center;
		    justify-items: center;
		    text-align: center;
		    background:$white;
		    padding:$gutterh;
		    border-radius: 8px;
		   	
		    min-height: 424px;
		    @extend .btn;
			img{
			    height: 96px;
			    margin-bottom: 32px;
			}
			h5{
				margin-bottom: 8px;
			}
			p{
				margin-bottom: 32px;
			}
			@include MQ($M){
				padding: $gutterw ($gutterw / 2);
			}
		}
		@include MQ($M){
			grid-template-columns: repeat(2, 1fr);
			grid-gap: $gutterw / 2;
		}
	}
	p{
		text-align: center;
		margin: 1em;
	}
}

#testimonials{
	.container{
	    justify-items: center;
	    grid-gap:$gutterh/4;
	    h3{
	    	margin-bottom: 24px;
	    }
	    h6{
	    	color:$brand2;
	    	margin-bottom:48px;
	    	text-align: center;
	    }
	    .testimonial{
	    	text-align: center;
	    	margin-bottom: 32px;
    	    min-height: 135px;
    	    transition: all 1s ease;
	    	p{
	    		margin-bottom: 24px;
	    	}
	    	.name{
	    		font-weight: $extrabold;
	    		color: $gray4;
	    	}
	    	&.transition{
	    		opacity:0;
	    	}
	    }
	    .testimonialArrows{
    	    display: grid;
		    grid-template-columns: repeat(3, 1fr);
		    justify-self: end;
		    grid-gap: 10px;
		    justify-items: center;
		    align-items: center;
	    	button{
	    		padding:8px 16px;
	    		box-shadow: $box-shadow;
	    		border-radius:0;

	    	}
	    }
	}
}

#counters{
	display: grid;
	justify-items: center;
	background: url('../../assets/svg/counterBg.svg') no-repeat top center;
	background-size:cover;
	padding-top:$gutterh * 5;
	h3{
		color:white;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: $gutterh;
	}
	#threeCounter{
		display: grid;
		grid-gap: $gutterw * 2.5;
		.counterHome{
			display: grid;
			align-content:center;
			justify-items: center;
			text-align: center;
			color:$white;
			img{
				height: 90px;
				margin-bottom: 32px;
			}
			h6{
				margin-bottom: 32px;
				color:$white;
				font-size: 1em;
				font-weight:$bold;
			}
			.number{
				font-size: 3em;
				font-weight:$black;
			}
		}
		@include MQ($M){
			grid-template-columns: repeat(3, 1fr);
			grid-gap: $gutterw;
		}
	}
}


/*---------------------------------------------- 
2. CONTACT PAGE
------------------------------------------------*/

#contact{
	.container{
		#map{
			height:60vh;
			width: auto;
			background:#000;
		}

		h5{
			margin-top: 32px;
		}
		p{
			margin-top:8px;
		}
		@include MQ($M) {
			grid-template-columns:3fr 2fr;
		}
	}
}


/*---------------------------------------------- 
3. IMM-APPLICANTS PAGE
------------------------------------------------*/

#languageSelector{
	#languages{
		h5{
			text-align: center;
			margin-bottom:42px;
		}
		ul{
			display:grid;
			grid-template-columns: repeat( auto-fit, minmax(100px, auto) );	
			// grid-auto-flow: column;
			justify-content: center;
			grid-gap:30px;
			li{
				display:grid;
				
				
				justify-content: center;
				align-items: center;
				margin:0;
				.btnSmall{
					display:grid;
					grid-auto-flow: row;
					grid-gap:5px;
					font-weight: $semibold;
					span{
						margin-bottom: 8px;
					}
					&.active{
						color:$white;
						background-color: $brand1;
					}	
				}
			}
		}
	}
}

#applicants{
	padding-top:0;
	.container{
		grid-gap: 0;
		text-align: center;
		justify-content: center;
		#video{
			margin-top: 3vh;
			margin-bottom: 3vh;
			max-width: 800px;
		}
		p{
			justify-self: center;
		}
		a{
			margin-top: 30px;
		}
	}
}



/*---------------------------------------------- 
4. IMM-PROFESSIONALS PAGE
------------------------------------------------*/
#immProff{
	.container{
		ul{
			padding:0 2em ;
			li{
				list-style: inherit;
			}
		}
		@include MQ($L){
			grid-template-columns: 1fr 1fr;
		}
	}
}


/*---------------------------------------------- 
5. WHO-WE-ARE
------------------------------------------------*/

#who-we-are{
	.container{
		grid-gap: $gutterh/2;
		p{
			margin-bottom: $gutterw / 4;
		}
	}
}

/*---------------------------------------------- 
6. Why Us
------------------------------------------------*/
#why-us-main{
	.container{
		display: grid;
		justify-items: center;
		.whiteContainer{
			padding: ($gutterh * 2) 0;
			display: grid;
			justify-self: center;
	    width: 100%;
			#whyus_list{
				display: grid;
				grid-gap: $gutterh;
				margin-top: $gutterh / 2;
		    text-align: center;
				div{
					display: grid;
					grid-gap: 20px;
					align-content:start;
					justify-items: center;
					.circle_shape{
						background-color:rgba($brand1,0.05);
						border-radius: 50%;
					}
				}
			}
		}
		.middleContainer{
			align-self: start;
			max-width: 600px;
			&.single{
				grid-column: auto;
			}
		}
		#letters_desktop{
			display:none;
			#letters{
		    grid-auto-flow: column;
		    justify-content: space-around;
		    display: grid;
				h3{
					color:$brand1;
					opacity: 0.3;
					transition: all 0.5s ease;
					&.opacity{
						opacity: 1;
					}
				}
			}
			#the_word{
				position:relative;
				height:40px;
				display: grid;
				justify-content: center;
				align-content:end;
				transition: all 1s ease;
			}


			@include MQ($M){
				display: grid;
			}
		}
		#letters_mobile{
			h6{
		    display: grid;    
		    grid-template-columns: max-content auto;
		    align-items: center;
		    margin: ($gutterh / 6) 0;
		    grid-gap: $gutterh / 8;
		    border-radius:$border-radius;
		    width: fit-content;
				.big_letter{
					width: 40px;
					height: 40px;
					justify-content: center;
			    display: grid;
		      align-items: center;
		      background-color: $brand2;
		      border-radius:$border-radius;
		      color:$white;
				}
			}
			@include MQ($M){
				display: none;
			}
		}
		@include MQ($M){
			grid-template-columns: 1fr 1fr;
			.whiteContainer{
				grid-column: span 2;
				#whyus_list{
					grid-column: span 2;
					grid-template-columns: repeat(auto-fill, minmax(300px,auto));
				}
			}
		}
	}
}

/*---------------------------------------------- 
7. Refer Accent
------------------------------------------------*/
#refer-accent{
	.container{
		.btnDark{
			margin: ($gutterw / 2) 0;
		}
	}
}















